{% extends "home/index.html" %}
{% load static %}

{% block table_html %}

 <!-- TABLA -->
 <div class="container-fluid pt-4 px-4">
    <div class="bg-light text-center rounded p-4">
        <div class="align-items-center justify-content-between mb-1">
            <h6 class="align-items-center">Listado de procesadores</h6>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered table-hover mb-0">
                <thead>
                    <tr class="text-dark align-middle table-bordered table-hover mb-0" >
                        <th scope="col">Modelo</th>
                        <th scope="col">Marca</th>
                        <th scope="col">Socket</th>
                        <th scope="col">Frecuencia base</th>
                    </tr>
                </thead>
                <tbody>
                    {% for cpu in cpus %}
                    <tr>
                        <td>{{ cpu.model }}</td>
                        <td>{{ cpu.brand }}</td>
                        <td>{{ cpu.socket }}</td>
                        <td>{{ cpu.frecuency }}</td>
                        {% endfor %}
                    </tr>
                    
                </tbody>
            </table>
            
            {% endblock %}
        </div>
    </div>
</div>

<style>
td {
  text-align: center;
}
</style>